  
  <mat-toolbar class="d-flex justify-content-evenly"color="primary">  <!-- TOOLBAR COR AZUL-->
    <span>Sistema Financeiro</span>
    <span>Página 2</span>
    <span class="example-spacer"></span>
  </mat-toolbar>
  <div class="div-principal p-5">
    
    
    <div class="d-flex justify-content-evenly mb-5">

        <!--<a routerLink="/"><input type="button" value="Pagina-Principal"></a>-->
        <!--<a routerLink="/pagina1"><input type="button" value="Pagina 1"></a>-->
        <button mat-raised-button color="primary" (click)="navegarPara([''])"> Pagina Principal </button>
        <button mat-raised-button color="primary" (click)="navegarPara(['pagina1'])"> Pagina1/Cadastrar-Produto</button>
    </div>

  

        