.div-principal{
    background-color: red;
    //height: 100vh;
    }
      
    p{
    margin: 0px;
    text-align: center;
    }

    table{
        width: 100%;
        border: solid;  
    }

    .mat-form-field{
        font-size:14;
        width: 100%;
    }

    