.div-principal{
    background-color: #e5e5e5;
    //height: 100vh;
    }
      
    p{
    margin: 0px;
    text-align: center;
    }

    table{
        width: 100%;
         
    }

    .mat-form-field{
        font-size:14px;
        width: 100%;
    }

    span{
        text-align:center;
    }
    

    