.div-principal{
  background-color: #e5e5e5;
  // height: 100%;
}

p{
  margin: 0px;
  text-align: center;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

span{
  
  text-align:center;
}

.example-card {
  width: 250px;
  min-height: 90px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(110, 110, 110, 0.616);
  background-color: #ddd;
  opacity: 1;
  }
  
  .example-card:hover {
  opacity: 0.9;
  }
  
  
  
  .cards{
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }

  




